---
const { images } = Astro.props;
---

<div class="image-hover-container">
    <img
        src={images.normal}
        alt="Rolling Peaches"
        class="hover-image"
    />
</div>

<style>
    .image-hover-container {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .hover-image {
        width: 100%;
        height: auto;
    }
</style>
