---
// BlogContent.astro
---

<div class="image-hover-container">
    <img
        src="/src/assets/peachfirma.jpg"
        class="hover-image normal"
    />
    <img
        src="/src/assets/rosafirma.jpg"
        class="hover-image hover"
    />
</div>

<style>
    .image-hover-container {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        position: relative;
    }
    
    .hover-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
        transition: opacity 0.5s ease;
    }
    
    .hover-image.hover {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    
    .image-hover-container:hover .hover-image.normal {
        opacity: 0;
    }
    
    .image-hover-container:hover .hover-image.hover {
        opacity: 1;
    }
</style>
